.express-services{
    background: url('../img/bg-team.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 0;
}
.express-services .service-info {
    margin: 0 0 30px 0;
    width: 100%;
    margin-top: 100px;
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 8px;
    padding: 30px 25px;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
}
.service-info .icon {
    position: absolute;
    font-size: 40px;
}

.service-info .icon i {
    color: #ffb400;
}
.service-info .detail {
    margin-left: 60px;
}
.service-info h3 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    color: #0880e8;
    margin-bottom: 10px;
}
.service-info p {
    line-height: 26px;
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
}
.inner{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
}
.inner .image-holder{
    width: 50%;
    height: 400px;
}
.inner form{
    width: 50%;
    padding-left: 80px;
}
.from-wrapper{
    position: relative;
}
.from-control{
    margin-bottom: 20px;
    padding: 6px 13px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 7px;
    width: 300px;
    outline: none;
}
.from-wrapper select{
    margin-bottom: 20px;
    width: 300px;
    padding: 6px 13px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 7px;
    outline: none;
}
button{
    border: none;
    text-align: center;
    padding: 6px 13px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    background-color: #ffb400;
    font-size: 15px;
    color: #fff;
}
