@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.cool {
    /*width: 80%;*/
    padding: 10px;
    /*background: #f3f0f1;*/
    /*position: relative;*/
    background: #FFB400;
    margin: 26px;
    border-radius: 15px;
    /*text-align: center;*/
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.cool span {
    color: #fff;
    /*font-family: "Montserrat", sans-serif;*/
    /*font-size: 18px;*/
    /*font-weight: semibold;*/
}
 .cool {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #6f6cde;
}
.cool:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.cool:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}

